{:deps {
        tick/tick {:mvn/version "0.7.5"} ; time manipulation
        org.clj-commons/hickory {:mvn/version "0.7.3"} ; HTML
        
        ; CLJS
        org.clojure/clojurescript {:mvn/version "1.10.773"}
        com.cognitect/transit-cljs  {:mvn/version "RELEASE"} ; marshalling Transit data to/from ClojureScript
        cljs-ajax/cljs-ajax {:mvn/version "0.8.1"} ; CLJ/S AJAX

        ; abstractions & utilities
        org.clojure/core.logic {:mvn/version "RELEASE"} ; logic programming
        org.clojure/core.typed {:mvn/version "RELEASE"} ; type checking
        org.clojure/core.match {:mvn/version "1.0.1"} ; pattern matching
        com.cerner/clara-rules {:mvn/version "0.21.1"} ; rules engine
        com.yetanalytics/flint {:mvn/version "0.2.1"} ; SPARQL DSL
        funcool/promesa {:mvn/version "11.0.678"} ; promises
        meander/epsilon {:mvn/version "0.0.650"} ; data manipulation 
        locksmith/locksmith {:mvn/version "0.1.1"} ; GraphQL DSL
        com.github.oliyh/martian {:mvn/version "0.1.25"} ; OpenAPI / swagger
        io.github.zmedelis/bosquet {:git/sha "b62968ad76fa14f7faf0ffdf3cb08ba9f6d152cc"} ; LLM Ops
        
        ; analysis
        io.github.nextjournal/clerk {:mvn/version "0.15.957"} ; rendering namespaces as hot-reloaded static notebooks
        arrowic/arrowic {:mvn/version "0.1.1"} ; rendering graphs

        ; dev 
        com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
        com.bhauman/figwheel-main {:mvn/version "0.2.18"}
        spyscope/spyscope {:mvn/version "0.1.6"} ; Trace-oriented debugging tools for Clojure
        mx.cider/haystack {:mvn/version "0.3.1"} ; Let's make the most of Clojure's infamous stacktraces! 
        expound/expound {:mvn/version "0.9.0"} ; better errors for spec
        better-cond/better-cond {:mvn/version "2.1.5"} ; cond with let + more
        }
 :paths ["src/clj"]}